{% extends 'Orph_Pack/Foundation.html' %}



{% load static %}
{% block css_add %}
<link rel="stylesheet" href="{% static 'Orph_Pack/css/Main.css' %}" />
{% endblock %}



{% block title %}
{{title}}
{% endblock %}

{% block page_label %}
<span class="Arc_Label">A R C</span>

{% endblock %}

{% block Nav-Buttons %}
<a class="AboutB" href="{% url 'About' %}">About</a>
<a class="AdminB" href="{% url 'Admin' %}">Admin</a>
{% endblock %}
{% block content %}
<div class="Main_Content">
    <span></span>
    <div class="content">
        <h2>Future Content</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#">Read More</a>
    </div>
</div>
{% endblock %}
